.customers-list-add-button {
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
    0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
}
.customers-list-add-button svg {
  padding-top: 10px;
}
.customers-list-add-button:hover {
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
  background-color: #4caf50;
  color: #fff;
}
.create-customer-checked-icon {
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  height: 20px;
  border-radius: 3px;
}
.create-customer-unchecked-icon {
  width: 0px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  height: 0px;
  padding: 9px;
  border-radius: 3px;
}
.create-customer-check-wrapper {
  margin-top: 40px;
}
.create-customer-button-add {
  margin-top: 20px !important;
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
    0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4caf50 !important;
  color: white !important;
}

.create-customer-button-add i,
.create-customer-button-back i {
  margin-right: 10px !important;
}
.create-customer-button-back {
  margin-top: 20px !important;
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
    0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4b4b4b !important;
  color: white !important;
  margin-left: 20px !important;
}

.customers-list-edit {
  color: cadetblue;
  position: relative;
  top: 8px;
}
.customers-list-edit svg path {
  padding-top: 20px !important;
}
